:root[data-mantine-color-scheme='light'] {
  --modal-background-color: var(--mantine-color-light-gray-0);
  --modal-border: 1px solid var(--mantine-color-gray-3);
}

:root[data-mantine-color-scheme='dark'] {
  --modal-background-color: var(--mantine-color-dark-gray-0);
  --modal-border: none;
}

.root {
  background-color: var(--modal-background-color);
  border: var(--modal-border);
}

.header {
  background-color: var(--modal-background-color);
}

.content {
  background-color: var(--modal-background-color);
  border: var(--modal-border);
}
