:root[data-mantine-color-scheme='light'] .root:not([data-active]):hover {
  background-color: rgba(99, 95, 199, 0.1);
}

:root[data-mantine-color-scheme='dark'] .root:not([data-active]):hover {
  background-color: var(--mantine-color-very-dark-gray-0);
}

.root {
  color: var(--mantine-color-medium-gray-0);
  border-top-right-radius: var(--mantine-radius-xl);
  border-bottom-right-radius: var(--mantine-radius-xl);
  transition: all 0.3s ease;

  &[data-active] {
    background-color: var(--mantine-primary-color-0);
    color: white;

    .section {
      fill: white;
    }

    &:hover {
      background-color: var(--mantine-primary-color-0);
      color: white;

      .section {
        fill: white;
      }
    }
  }

  &:hover {
    color: var(--mantine-primary-color-0);

    .section {
      fill: var(--mantine-primary-color-0);
    }
  }
}

.section {
  &[data-position='left'] {
    fill: var(--mantine-color-medium-gray-0);
  }
}
