:root[data-mantine-color-scheme='light'] {
  --mantine-color-body: var(--mantine-color-light-gray-0) !important;
  --input-background-color: var(--mantine-color-light-gray-0);
}

:root[data-mantine-color-scheme='dark'] {
  --mantine-color-body: var(--mantine-color-very-dark-gray-0) !important;
  --input-background-color: var(--mantine-color-dark-gray-0);
}

.mantine-Input-input {
  background-color: var(--input-background-color);
}
