.item {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: var(--mantine-radius-md);
  margin-bottom: var(--mantine-spacing-lg);
  height: 88px;
  width: 100%;

  &:hover {
    .taskTitle {
      color: var(--mantine-color-main-purple-0);
    }
  }
}

.itemDragging {
  box-shadow: var(--mantine-shadow-sm);
}

.dragHandle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  margin-right: var(--mantine-spacing-md);
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.taskTitle {
  transition: color 200ms ease;
}
